/**
Folha de estilo - Cartas
@author Nicolas e kaio
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 350px;
    background-color: #ffffff;
    position: relative;
    /*ref. alinhamento*/
    margin: 50px 0;
}

#centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#centro img {
    width: 230px;
    height: 330px;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 25px;
    font-size: 1.2em;
}

button {
    background-color: #fdfdfc;
}

button:hover {
    background-color: #696765;
}